.App {
  text-align: center;

}

.Header{
  background: rgb(232, 235, 49);
  width:60%;
  margin: 0px auto;
  padding: 10px;
  text-decoration: none;
  border-radius:  0px 0px 20px 20px
}

.Header a{
  text-decoration: none;
}




